/.idea
node_modules/
/package-lock.json
/HtmlCssPrimer/.idea/*.iml
/HtmlCssPrimer/.idea
/HtmlCssPrimer/package-lock.json
/JavaScriptPrimer/package-lock.json
/07-SportsStore/SportsStore/package-lock.json
