<div class="navbar navbar-inverse">
  <a class="navbar-brand">电子商城</a>
</div>
<div class="col-sm-3 bg-info p-a-1">
  {{categories.length}} 个分类
  <button class="btn btn-block btn-outline-primary"
          (click)="changeCategory()">
    全部</button>
  <div *ngFor="let category of categories">
    <button class="btn btn-outline-primary btn-block"
    [class.active]="category==selectedCategory"
    (click)="changeCategory(category)">
      {{category}}
    </button>
  </div>

</div>
<div class="col-sm-9 p-a-1 product-bg">
  <div *ngFor="let product of products" class="card card-outline-primary ">
    <h4 class="card-header card-header-bg">{{product.name}}
    <span class="pull-xs-right tag tag-pill tag-primary">
      {{product.price | currency:"USD":true:"2.2-2"}}
    </span>
    </h4>
    <div class="card-text p-a-1">{{product.description}}</div>
  </div>

  <div class="form-inline pull-xs-left m-r-1">
    <select class="form-control" [value]="pageSize"
            (change)="changePageSize($event.target.value)">
      <option value="2">2</option>
      <option value="4">4</option>
      <option value="10">10</option>
    </select>
  </div>

  <div class="btn-group pull-xs-right">
    <button *ngFor="let page of pageNums"
            class="btn btn-outline-primary"
    (click)="changePageNum(page)"
    [class.active]="page==selectedPageNum">
      {{page}}
    </button>
  </div>

</div>
